<!DOCTYPE html>
<html>
  <head>
    <title>Héctor Medina | Tienda Online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <%# Todos los partials, es decir, codigo que podemos reutilizar, ejemplo un navbar, empiezan con _ %>
    <%= render '/shared/flashes' %>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
